@use "../_config";

.inx-team-single-agent {
	a:not(.inx-oi--inverted):not(.inx-inverse) {
		text-decoration: none;
		box-shadow: none;
		color: var(--inx-color-action-element);
	}

	a:not(.inx-oi--inverted):not(.inx-inverse):hover {
		color: var(--inx-color-action-element-lighter);
	}
}

.inx-team-single-agent__photo {
	position: relative;
	width: 100%;
	min-height: 12em;
	background-color: #F0F0F0;
}

.inx-team-single-agent__photo-placeholder {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	color: #D0D0D0;
}

.inx-team-single-agent__name {
	font-size: 1.4em;
}

.inx-team-single-agent__agency-logo {
	max-width: 12em;
	max-height: 12em;
}

.inx-team-single-agent__element {
	display: flex;
	align-items: stretch;
	box-sizing: content-box;
}

.inx-team-single-agent__element-icon {
	margin-right: .5em;
}

.inx-team-single-agent__element--type--bio {
	margin-bottom: 1.5em;
}

.inx-team-single-agent__element-value p:last-child {
	margin-bottom: 0;
}

.inx-team-single-agent__footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 64px;

	.inx-team-single-agent__agency-info {
		text-align: center;
	}
}

.inx-team-single-agent__contact-data,
.inx-team-single-agent__footer {
	a {
		text-decoration: none;
		box-shadow: none;
		color: var(--inx-color-action-element);
	}

	a:hover {
		color: var(--inx-color-action-element-lighter);
	}
}

.inx-team-single-agent--type--single {
	.inx-team-contact-form-wrap {
		margin-top: 1em;
	}
}

.inx-team-single-agent--type--widget {
	.inx-team-single-agent__section:not(:last-child) {
		margin-bottom: .75em;
	}

	.inx-team-single-agent__element--type--photo {
		display: block;
		width: 100%;
		max-width: 16em;

		a {
			box-shadow: none;
		}
	}

	.inx-team-single-agent__element--type--full-name,
	.inx-team-single-agent__element--type--full-name-incl-title {
		font-size: 100%;
	}

	.inx-team-network-icons {
		margin: 0;
	}

	.inx-team-contact-form-wrap {
		margin-top: 1.5em;
	}
}

.inx-team-single-agent__labels {
	right: -.15rem !important;
	padding-top: .2em;
	font-size: .85em;
	text-align: right;
}

@media screen and (min-width: config.$screen-s) {
	.inx-team-single-agent__photo-wrap {
		margin-right: 2em;
	}
}

@media screen and (min-width: config.$screen-m) {
	.inx-team-single-agent__footer {
		flex-direction: row-reverse;
		flex-wrap: nowrap;

		.inx-team-single-agent__agency-info {
			flex-basis: 100%;
			text-align: left;
		}
	}
}