// Skin/Template configuration variables

// Font sizes
$font-size-base: 16px;
$font-size-large: 1.5em;
$font-size-medium: 1.2em;
$font-size-standard: 1em;

// Distances

$distance-standard: 1.5em;
$distance-double: 3em;

// Screen sizes (currently based on UIkit, except XS)

$screen-xs: 320px;
$screen-s: 640px;
$screen-m: 960px;
$screen-l: 1200px;
$screen-xl: 1600px;